@font-face {
  font-family: "nexa_demolight";
  src: url("fonts/nexademo-light-webfont.woff2") format("woff2"),
    url("fonts/nexademo-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nexa_demobold";
  src: url("fonts/nexademo-bold-webfont.woff2") format("woff2"),
    url("fonts/nexademo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "nexa_demolight", Arial, sans-serif !important;
  overflow-x: hidden !important;
}

nav {
  padding: 0% 10%;
}

.y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-custom {
  padding-top: 20px;
  background-color:#262262;
  }

.navbar-custom a {
  font-size: 1.2em;
  color: #f4f4f4 !important;
  /* font-weight: bold !important; */
}

.nav-icons {
  margin-right: 5px;
  font-size: 1.4em;
}

.white {
  background-color: #f4f4f4;
  height: 100%
}
.purple {
  background-color: #262262;
  height: 100%
}

.purple-bold {
  color: #262262 !important;
  font-weight: bold !important;
}

.purple-light {
  color: #262262 !important;
  font-weight: normal !important;
}

.black-bold {
  color: #242424 !important;
  font-weight: bold !important;
}

.black-light {
  color: #242424 !important;
  font-weight: normal !important;
}

.white-bold {
  color: #f4f4f4 !important;
  font-weight: bold !important;
}

.white-light {
  color: #f4f4f4 !important;
  font-weight: normal !important;
}

.logo-image {
  width: 150px;
  height: 50px;
  overflow: hidden;
}

.purple-white {
  background-color: #f4f4f4 !important;
  color: #262262 !important;
}

#showme {
  border-radius: 10px;
}
.intro-video {
  width: 100%;
  background-color: #262262;
  padding: 5% 10%;
}

nav.navbar .navbar-toggler {
  line-height: 10px;
  padding: 0;
}

.hivemind-difference {
  width: 100%;
  background-color: #262262;
  padding: 5% 10%;
}

.hd li {
  margin-bottom: 12px;
}

.list {
  border-left: 2px solid #f4f4f4;
}

.trust {
  width: 100%;
  background-color: #262262;
  padding: 5% 10%;
}



.contact input, select, textarea{
  color: #242424 !important;
  font-size: 1.4em !important;
}

.contact textarea:focus, input:focus {
  color: #242424 !important;
  font-size: 1.4em !important;
}

.contact .purple-white {
  background-color: #f4f4f4 !important;
  color: #262262 !important;
}

.faqs {
  padding: 2% 5%;
}

.nav-tabs .nav-link, .nav-pills .nav-link {
  font-size: 1.1rem;
}

#faq-category {
  margin-bottom: 50px;
  font-size: 20em;
  /* background-color: yellow; */
}

.testimonial {
  width: 100%;
  background-color: #262262;
  position: relative;
}

.testimonial .name {
  background-color: rgba(38,34,98, 0.4);
  position: absolute;
  top: 70%;
  left: 55%;
}

.testimonial h1 {
  padding: 5% 10%;
}

.footer{
  margin-top: 10px;
  background-color: #262262;
  padding: 2% 10%;
}

.footer .btn {
  align-items: right !important;
  float: right;
}


.footer .links a, h3 {
  margin-right: 3%;
  display: inline;
}

.footer .links {
  float: right;
}

.intro {
  height: 100vh;
  width: 100%;
  background-color: #262262;
  padding: 5% 10%;
}

.intro .row {
  height: 100%;
}

.investment {
  height: 50vh;
  width: 100%;
}

.investment .contianer {
  height: 100%;
}

.rounded-text {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.video {
  height: 70vh;
  width: 100%;
  overflow-y: hidden !important;
}

.video iframe {
  height: 10%;
  width: 100%;
  overflow-y: hidden !important;
}

.lists li {
  /*Using a Bootstrap glyphicon as the bullet point*/
  font-size: 1.5em;
}

.blog-carousel {
  height: 80vh;
  width: 100%;

}

.faqs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #f4f4f4;
  background-color: #262262;
}
